<h1 mat-dialog-title>{{ data? 'Edit' :'New' }} Meta Data Mapping</h1>
<form [formGroup]="form" (keyup.enter)="submit()" (ngSubmit)="submit()">
    <div mat-dialog-content>
        <p>
            <mat-form-field>
                <input type="text" matInput placeholder="Find" required formControlName="find">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input type="text" matInput placeholder="Replace" required formControlName="replace">

            </mat-form-field>

        </p>

    </div>
    <div mat-dialog-actions align="end">
        <button type="button" mat-raised-button color="default"  (click)="onNoClick($event)">Close <mat-icon>close</mat-icon></button>
        <button type="button" color="primary" (keyup.enter)="submit()" (click)="submit()" mat-raised-button>Submit <mat-icon>done</mat-icon></button>
    </div>
</form>