<div class="row">
    <div class="col-md-12 p-2">
        <mat-card>
            <mat-card-title>
                Explorer configs
                <button class="save" (click)="save()" color="primary" mat-raised-button>
                    Save
                    <mat-icon>save</mat-icon>
                </button>
            </mat-card-title>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-2">
        <div class="row">
            <div class="col-12 footer">
                <div class="border">
                    <h5>Welcome Statment <button style="float: right;" (click)="welcomeSettings()"
                            mat-icon-button>
                            <mat-icon>settings</mat-icon>
                        </button></h5>
                    <editor [(ngModel)]="welcome_text" [init]="footerEditor"></editor>
                </div>
            </div>
            <div class="col-3 side-left">
                <div class="border">
                    <div cdkDropList (cdkDropListDropped)="dropFilter($event)"
                        class="content drag-list d-flex align-content-center flex-wrap">
                        <app-filter cdkDrag *ngFor="let item of filters; let i = index;"
                            (onDelete)="onFilterDelete($event,i)" (edited)="filtersEdited($event,i)" [configs]="item"
                            class="w-100 drag-item"></app-filter>
                    </div>
                    <button (click)="newFilter()" class="w-100" mat-button>
                        Add Filter
                        <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-9 side-right">
                <div class="row">
                    <div class="col-12 pb-2 header">
                        <div class="border">
                            <div class="content d-flex align-content-stretch flex-wrap">
                                <div class="col-12">
                                    <button (click)="sortCounter()" class="card-actions" color="warn" mat-icon-button>
                                        <mat-icon>sort</mat-icon>
                                    </button>
                                </div>

                                <app-counter class="m-auto" *ngFor="let item of counters; let i = index;"
                                    (onDelete)="onCounterDelete($event,i)" [configs]="item"
                                    (edited)="counterEdited($event,i)"></app-counter>
                            </div>
                            <button (click)="newCounter()" class="w-100" mat-button>
                                Add Counter
                                <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 pb-2 content">
                        <div class="border">
                            <div class="row">
                                <div cdkDropList (cdkDropListDropped)="dropDashboard($event)" class="col-12 drag-list">
                                    <app-structure cdkDrag class="drag-item"
                                        (rowDeleted)="dashboardRawDeleted($event,i)"
                                        (onDelete)="onDashboardItemDelete($event,i)"
                                        (onAdd)="onAddDashboardComponent($event,i)" (edited)="dashboardEdited($event,i)"
                                        [grid]="item" *ngFor="let item of dashboard, let i = index"></app-structure>
                                </div>
                                <button (click)="newRow()" class="col-12" mat-button>
                                    Add New Row
                                    <mat-icon aria-hidden="false" aria-label="add">view_module</mat-icon>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 footer">
                <div class="border">
                    <h5>Footer</h5>
                    <editor [(ngModel)]="footer" [init]="footerEditor"></editor>
                </div>
            </div>
        </div>
    </div>
</div>