a {
  color: #000;
  text-decoration: none;
  &.disable {
    cursor: default;
  }
}
.mat-list-item {
  &:hover:not(.disable) {
    cursor: pointer;
  }
  &.downloaded {
    background-color: #ccc;
  }
}
