<h2 mat-dialog-title>
  <ng-container *ngIf="finishedExporting; else stillExporting">
    Finished
  </ng-container>
  <ng-template #stillExporting>
    {{ installing ? 'Please wait....' : 'Export' }}
    <small *ngIf="delegationArr">
      getting {{ delegationArr.length }} parts
    </small>
  </ng-template>
</h2>
<mat-dialog-content>
  <ng-container *ngIf="!installing; else installingNow">
    Please, note that very lengthy lists of publications will be exported in
    more than one part to allow a quicker download. Would you like to continue?
  </ng-container>
  <ng-template #installingNow>
    <ng-container *ngIf="delegationArr; else loadingFirstTime">
      <mat-list>
        <ng-container *ngFor="let delegation of delegationArr">
          <ng-container *ngIf="type === 'xlsx'; else pdfDocx">
            <ng-container *ngTemplateOutlet="info"></ng-container>
          </ng-container>
          <ng-template #pdfDocx>
            <a
              [attr.download]="delegation.loaded ? delegation.fileName : null"
              [attr.target]="delegation.loaded ? '_blank' : null"
              class="w-100"
              [ngClass]="{ disable: !delegation.loaded }"
              [href]="
                delegation.loaded
                  ? exportPoint + downloadPath + '/' + delegation.fileName
                  : ''
              "
              (click)="prevent($event, delegation)"
            >
              <ng-container *ngTemplateOutlet="info"></ng-container>
            </a>
          </ng-template>

          <ng-template #info>
            <mat-list-item
              (click)="markAsDownloaded(delegation)"
              matRipple
              [ngClass]="{
                disable: !delegation.loaded
              }"
            >
              <ng-container *ngIf="!delegation.loaded; else loaded">
                Preparing {{ delegation.name }}
                <mat-progress-bar
                  *ngIf="!delegation.loaded"
                  mode="buffer"
                  color="warn"
                ></mat-progress-bar>
              </ng-container>
              <ng-template #loaded>
                <h4 mat-line>
                  <mat-icon [inline]="true" *ngIf="delegation.downloaded"
                    >done_all</mat-icon
                  >
                  Download {{ delegation.name }}
                </h4>
              </ng-template>
            </mat-list-item>
          </ng-template>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </ng-container>
    <ng-template #loadingFirstTime>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </ng-template>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!installing">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="exportFile()">Export</button>
</mat-dialog-actions>
