<section class="row justify-content-end">
  <div class="col-md-2 col-xs-12">
    <ng-select
      [items]="filterOptions"
      bindLabel="display"
      placeholder="Sort Options"
      [(ngModel)]="selectedFilter"
      (change)="onFilterChanged($event)"
      [clearable]="false"
      [dropdownPosition]="'bottom'"
    >
    </ng-select>
  </div>
  <div class="col-md-1 col-xs-12">
    <ng-select
      [items]="ascDesc"
      placeholder="Order"
      bindLabel="display"
      bindValue="value"
      (change)="reverse($event)"
      [(ngModel)]="reverseOption"
      [clearable]="false"
      [dropdownPosition]="'bottom'"
    >
    </ng-select>
  </div>
  <div class="text-right">
    <button
      class="v-center"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Options for exporting files"
    >
      <mat-icon>get_app</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="startExportingNow('pdf')">
        <img src="assets/export/pdf.png" />
        <span>Pdf</span>
      </button>
      <button mat-menu-item (click)="startExportingNow('docx')">
        <img src="assets/export/docx.png" />
        <span>word</span>
      </button>
      <button mat-menu-item (click)="startExportingNow('xlsx')">
        <img src="assets/export/xlsx.png" />
        <span>Excel</span>
      </button>
    </mat-menu>
  </div>
</section>
