<mat-expansion-panel
  [expanded]="scrollHelperService.expandedStatus"
  (afterCollapse)="disPatchSetInView(true)"
  (afterExpand)="disPatchSetInView(false)"
>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Options for exporting files"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="exportFile()">
      <mat-icon>dialpad</mat-icon>
      <span>Pdf</span>
    </button>
    <button mat-menu-item>
      <mat-icon>voicemail</mat-icon>
      <span>word</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Excel</span>
    </button>
  </mat-menu>
  <div
    class="prevent-scroll"
    *ngIf="!isPaginatedList"
    (click)="hideClickToEnable()"
    #clickToEnable
  >
    <span>Click to enable</span>
  </div>
  <mat-expansion-panel-header class="border-bottom-muted">
    <mat-panel-title
      class="icon-with-text"
      *ngIf="scrollHelperService.getViewState?.userSeesMe"
    >
      <span class="mr-1">{{ componentConfigs.title }}</span>
      <mat-icon
        aria-label="Button that displays
            a tooltip when focused or hovered over"
        [mdePopoverTriggerFor]="appPopover"
        mdePopoverTriggerOn="hover"
      >
        error
      </mat-icon>
      <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
        <app-icons-with-text
          [text]="componentConfigs.description"
        ></app-icons-with-text>
      </mde-popover>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="!isPaginatedList; else displayPaginatedList">
    <app-virtual-list [listData]="listData"></app-virtual-list>
  </ng-container>
  <ng-template #displayPaginatedList>
    <app-paginated-list
      [hits]="hits?.hits"
      [paginationAtt]="paginationAtt"
      [loadingHits]="loadingHits"
      [content]="componentConfigs.content"
    >
    </app-paginated-list>
  </ng-template>

  <ngx-loading
    [show]="!loadingHits && scrollHelperService.loading"
  ></ngx-loading>
</mat-expansion-panel>
