@import '../../scss/responsive.scss';

.mat-toolbar-row {
  // height: 80px !important;
  display: flex !important;
  flex-direction: row !important;
  // justify-content: space-between !important;
  justify-content: flex-start !important;
}

.end {
  margin-left: auto !important;
}

.nab-bar-images {
  max-height: 49px !important;
}

button {
  outline: none !important;
}

/deep/ .mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.toolbar-style {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  position: relative;
  z-index: 0 !important;
}

#drawer {
  max-width: 25% !important;
  min-width: 25% !important;
}

@include small {
  $minMax: 100%;
  #drawer {
    max-width: $minMax !important;
    min-width: $minMax !important;
  }
}

@include large {
  $minMax: 25%;
  #drawer {
    max-width: $minMax !important;
    min-width: $minMax !important;
  }
}
