:host ::ng-deep .border {
  border: #80808033 0.1px solid;
  padding: 20px;
  min-height: 20px;
}

:host ::ng-deep .card-actions {
  float: right;
  mat-icon {
    font-size: 17px;
  }
}

.save {
  float: right;
}
.icon-wrapper{
    height: 600px;
    position: fixed;
    right: 0px;
    .border{
        height:100%;
        padding: 0;
    }
    
}

.icon-holder{
    height: 40% !important;
    width: 100%!important;
    padding: 0px;
    display: block;
    min-width: 100%;
    float: left;
}