:host ::ng-deep  .border {
  border: gray 1px solid;
  padding: 20px;
  min-height: 20px;
}

:host ::ng-deep .card-actions{
    float: right;
    mat-icon{
        font-size: 17px;
    }
}

.save{
    float: right;
}