<app-chart
  [title]="componentConfigs.title"
  [description]="componentConfigs.description"
  [expandedStatus]="cms.getExpanded"
  [userSeesMe]="cms.getViewState?.userSeesMe"
  [loading]="cms.getLoading"
  [loadingHits$]="cms.getLoadingHits$"
  [chartOptions]="chartOptions"
  (expanded)="cms.disPatchSetInView($event)"
  (chartInstance)="handleChartInstance($event)"
>
  <ng-container *ngIf="barService.buckets">
    <div class="col-12">
      {{ barService.barTypes | json }}
      <ng-select
        [items]="barService.barTypes"
        [multiple]="true"
        [dropdownPosition]="'top'"
        placeholder="Categories"
        (change)="onChange($event)"
        [(ngModel)]="barService.selectedCategories"
      >
      </ng-select>
    </div>

    <div class="col-12">
      {{ barService.barYears | json }}
      <ng-select
        [items]="barService.barYears"
        [multiple]="true"
        [dropdownPosition]="'top'"
        placeholder="Columns"
        [(ngModel)]="barService.selectedYears"
        (change)="onChange($event)"
      >
      </ng-select>
    </div>
  </ng-container>
  <ngx-loading [show]="barService.barLoading"></ngx-loading>
</app-chart>
