<app-chart
  [title]="componentConfigs.title"
  [description]="componentConfigs.description"
  [expandedStatus]="cms.getExpanded"
  [userSeesMe]="cms.getViewState?.userSeesMe"
  [loading]="cms.getLoading"
  [loadingHits$]="cms.getLoadingHits$"
  [chartOptions]="chartOptions"
  (expanded)="cms.disPatchSetInView($event)"
  (chartInstance)="handleChartInstance($event)"
>
  <ng-container *ngIf="sources">
    <div class="col-12">
      <ng-select
        [items]="sources.type"
        bindLabel="key"
        [multiple]="true"
        [dropdownPosition]="'top'"
        placeholder="categories"
        [(ngModel)]="selectedCategories"
      >
      </ng-select>
    </div>

    <div class="col-12">
      <ng-select
        [items]="sources['year.keyword']"
        bindLabel="key"
        [multiple]="true"
        [dropdownPosition]="'top'"
        placeholder="years"
        [(ngModel)]="selectedYears"
      >
      </ng-select>
    </div>
  </ng-container>
</app-chart>
