@import '~@angular/material/theming';
// when you type `<mat-component color = "primary">` it will apply 500
// for material theme
$customTheme: (
  50 : var(--theme-primary-50),
  100 : var(--theme-primary-100),
  200 : var(--theme-primary-200),
  300 : var(--theme-primary-300),
  400 : var(--theme-primary-400),
  500 : var(--theme-primary-500),
  600 : var(--theme-primary-600),
  700 : var(--theme-primary-700),
  800 : var(--theme-primary-800),
  900 : var(--theme-primary-900),
  A100 : var(--theme-primary-A100),
  A200 : var(--theme-primary-A200),
  A400 : var(--theme-primary-A400),
  A700 : var(--theme-primary-A700),
  contrast: (
    50: var(--theme-primary-contrast-50),
    100: var(--theme-primary-contrast-100),
    200: var(--theme-primary-contrast-200),
    300: var(--theme-primary-contrast-300),
    400: var(--theme-primary-contrast-400),
    500: var(--theme-primary-contrast-500),
    600: var(--theme-primary-contrast-600),
    700: var(--theme-primary-contrast-700),
    800: var(--theme-primary-contrast-800),
    900: var(--theme-primary-contrast-900),
    A100: var(--theme-primary-contrast-A100),
    A200: var(--theme-primary-contrast-A200),
    A400: var(--theme-primary-contrast-A400),
    A700: var(--theme-primary-contrast-A700),
  )
);

// $customTheme: (
//   50: #6c757d,
//   100: #f8f9fa,
//   200: #ffffff,
//   300: #66b9b9,
//   400: #4cadad,
//   400_light: #b4dced,
//   500: #5dbcd2,
//   600: #008b8b,
//   700: #199696,
//   800: #32a2a2,
//   900: #008b8b,
//   A100: #007d7d,
//   A200: #006f6f,
//   A400: #006161,
//   A700: #005353,
//   contrast: (
//     50: $dark-primary-text,
//     100: $dark-primary-text,
//     200: $dark-primary-text,
//     300: $dark-primary-text,
//     400: $dark-primary-text,
//     500: $light-primary-text,
//     600: $light-primary-text,
//     700: $light-primary-text,
//     800: $light-primary-text,
//     900: $light-primary-text,
//     A100: $dark-primary-text,
//     A200: $light-primary-text,
//     A400: $light-primary-text,
//     A700: $light-primary-text,
//   ),
// );
