<div class="row">
    <div class="col-md-12 p-5">
        <mat-card>
            <mat-card-title>
                <div class="row p-3">
                    <h5 class="col-md-8">Values Mappring</h5>
                    <mat-card-actions class="col-md-4">
                        <button class="right" (click)="openDialog()" color="primary" mat-raised-button> ADD <mat-icon
                                aria-hidden="false" aria-label="add">add</mat-icon></button>
                    </mat-card-actions>
                </div>
            </mat-card-title>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input type="text" [(ngModel)]="term" (keyup)="searchChange()" matInput placeholder="Search" required>

                </mat-form-field>

                <table mat-table [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="find">
                        <th mat-header-cell *matHeaderCellDef> Find </th>
                        <td mat-cell *matCellDef="let element"> {{element.find}} </td>
                    </ng-container>

                    <!-- email Column -->
                    <ng-container matColumnDef="replace">
                        <th mat-header-cell *matHeaderCellDef> Replace </th>
                        <td mat-cell *matCellDef="let element"> {{element.replace}} </td>
                    </ng-container>

                    <!-- role Column -->
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef> Created At </th>
                        <td mat-cell *matCellDef="let element"> {{element.created_at | date:'short'}} </td>
                    </ng-container>

                    <!-- actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="toDelete(element.id)" color="primary" mat-icon-button>
                                <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
                            </button>
                            <button (click)="toEdit(element.id)" color="primary" mat-icon-button>
                                <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>