<div class="row">
    <div class="col-12">
        <form class="base" [formGroup]="listForm">
            <div class="row">
                <div class="col-12">
                    <ng-select class="base" [addTag]="true" [items]="metadata" required="true" bindValue="disply_name"
                        bindLabel="disply_name" [clearable]="false" [searchable]="true" formControlName="title"
                        placeholder="Item title">
                    </ng-select>
                </div>
                <div class="col-12">
                    <ng-select class="base" [addTag]="true" [items]="metadata" required="true" bindValue="disply_name"
                        bindLabel="disply_name" [clearable]="false" [searchable]="true" formControlName="description"
                        placeholder="Item Description">
                    </ng-select>
                </div>
                <div class="col-12">
                    <ng-select class="base" [addTag]="true" [items]="metadata" required="true" bindValue="disply_name"
                        bindLabel="disply_name" [clearable]="false" [searchable]="true" formControlName="identifierUri"
                        placeholder="Identifier Uri">
                    </ng-select>
                </div>
                <div class="col-12">
                    <mat-checkbox matInput formControlName="altmetric">Show Altmetric</mat-checkbox>
                </div>
            </div>

            <h5 class="pt-3">Tags</h5>
            <hr>
            <ng-container formArrayName="tags">
                <form class="pl-2" *ngFor="let form of tagsControls; let i = index;" [formGroup]="form">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Tag Title" required
                                    formControlName="disply_name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <ng-select [addTag]="true" [items]="metadata" required="true" bindValue="disply_name"
                                bindLabel="disply_name" [clearable]="false" [searchable]="true"
                                formControlName="metadata" placeholder="Data Source">
                            </ng-select>
                        </div>
                        <div *ngIf="i > 0" class="col-md-4">
                            <button class="pull-right" (click)="delete('tags',i)" color="warn" mat-icon-button>
                                <mat-icon aria-hidden="false" aria-label="delete">delete
                                </mat-icon>
                            </button>
                        </div>
                    </div>


                </form>
            </ng-container>
            <div class="col-md-12 text-center">
                <button class="float-left mb-2" (click)="AddNewdata(tagsControls,'tags')" mat-raised-button>
                    New Tag
                    <mat-icon aria-hidden="false" aria-label="add">add
                    </mat-icon>
                </button>
            </div>
            <h5>Sort By Options:</h5>
            <hr>
            <ng-container formArrayName="filterOptions">
                <form class="pl-2" *ngFor="let form of filterOptions; let i = index;" [formGroup]="form">
                    <div class="row">

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Option Title</mat-label>
                                <input type="text" matInput placeholder="Option Title" required
                                    formControlName="display">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <ng-select [addTag]="true" [items]="metadata" required="true" bindValue="disply_name"
                                bindLabel="disply_name" [clearable]="false" [searchable]="true" formControlName="value"
                                placeholder="Data Source">
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Sort</mat-label>
                                <mat-select placeholder="Sort" required formControlName="sort">
                                    <mat-option value="desc">Desc</mat-option>
                                    <mat-option value="asc">Asc</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="i > 0" class="col-md-3">
                            <button class="pull-right" (click)="delete('filterOptions',i)" color="warn" mat-icon-button>
                                <mat-icon aria-hidden="false" aria-label="delete">delete
                                </mat-icon>
                            </button>
                        </div>
                    </div>

                </form>
            </ng-container>
            <div class="col-md-12 text-center">
                <button class="mb-2" (click)="AddNewdata(filterOptions,'options')" mat-raised-button>
                    New Option
                    <mat-icon aria-hidden="false" aria-label="add">add
                    </mat-icon>
                </button>
            </div>
            <hr>
            <button style="float: right;" (click)="save()" color="primary" mat-raised-button>
                Save
            </button>
        </form>
    </div>
</div>