<ngx-loading-bar ref="http" [includeSpinner]="false"></ngx-loading-bar>
<mat-drawer-container class="container-admin">
  <mat-drawer width="300px" mode="side" opened>
    <h3 class="p-1 pt-2 text-center">OpenRXV</h3>
    <hr class="mb-3">
    <mat-nav-list>

      <!-- <a mat-list-item routerLink="/admin" routerLinkActive="active" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Dashboard </a> -->
      <a mat-list-item routerLink="/admin/users" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Users</a>
      <a mat-list-item routerLink="/admin/shared" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Shared Links</a>
      <a mat-list-item routerLink="/admin/mapping-values" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Mapping Values</a>
      <a mat-list-item routerLink="/admin/setup" routerLinkActive="active" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Settings </a>
      <a mat-list-item routerLink="/admin/desgin" routerLinkActive="active" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Design </a>
      <a mat-list-item routerLink="/admin/appearance" routerLinkActive="active" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Appearance </a>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content id="main-content">
    <div class="col-md-12 pt-2">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>
</mat-drawer-container>