<div class="row">
  <div class="container-fluid">
    <mat-toolbar color="primary" class="toolbar-style">
      <mat-toolbar-row>
        hello

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
  <mat-drawer-container  class="container-admin">
    <mat-drawer width="300px" mode="side" opened>

      Drawer content


    </mat-drawer>
    <mat-drawer-content id="main-content">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>