<div class="row">
  <div class="col-md-12 pb-5">
    <mat-card>
      <mat-card-title>
        Admin Dashboard

        <button style="float: right;" (click)="startReIndex()" color="accent" mat-raised-button>
          Commit Indexing
          <mat-icon>check</mat-icon>
        </button>
        <button class="mr-2" style="float: right;" (click)="startPlugins()" color="primary" mat-raised-button>
          Start Plugins
          <mat-icon>archive</mat-icon>
        </button>
        <button class="mr-2" style="float: right;" (click)="startIndex()" color="primary" mat-raised-button>
          Start Indexing
          <mat-icon>archive</mat-icon>
        </button>

        <button class="mr-2" style="float: right;" (click)="stopIndex()" color="warn" mat-raised-button>
          Stop Indexing
          <mat-icon>unarchive</mat-icon>
        </button>

        <button class="mr-2" style="float: right;" (click)="Init()" mat-raised-button>
          Refresh
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-card-title>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Repositories</h3>
  </div>
  <div class="col-12 pb-3">
    <div class="d-flex w-100 justify-content-around">
      <mat-card class="counter">
        <mat-card-title>
          {{ active_count }}
        </mat-card-title>
        <mat-card-subtitle>Active</mat-card-subtitle>
      </mat-card>
      <mat-card class="counter">
        <mat-card-title>
          {{ completed_count }}
        </mat-card-title>
        <mat-card-subtitle>Completed</mat-card-subtitle>
      </mat-card>
      <mat-card class="counter">
        <mat-card-title>
          {{ waiting_count }}
        </mat-card-title>
        <mat-card-subtitle>Waiting</mat-card-subtitle>
      </mat-card>
      <mat-card class="counter">
        <mat-card-title>
          {{ failed_count }}
        </mat-card-title>
        <mat-card-subtitle>Failed</mat-card-subtitle>
      </mat-card>
    </div>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-title>
        Completed
      </mat-card-title>
      <mat-card-content>
        <app-info-table [data]="completed"></app-info-table>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-title>
        Failed
      </mat-card-title>
      <mat-card-content>
        <app-info-table [data]="failed"></app-info-table>

      </mat-card-content>
    </mat-card>
  </div>

</div>
<div class="row pt-3">
  <div class="col-12">
    <h3>Plugins</h3>
  </div>
  <div class="col-12 pb-3">
    <div class="d-flex w-100 justify-content-around">
      <mat-card class="counter">
        <mat-card-title>
          {{ plugins_active_count }}
        </mat-card-title>
        <mat-card-subtitle>Active</mat-card-subtitle>
      </mat-card>
      <mat-card class="counter">
        <mat-card-title>
          {{ plugins_completed_count }}
        </mat-card-title>
        <mat-card-subtitle>Completed</mat-card-subtitle>
      </mat-card>
      <mat-card class="counter">
        <mat-card-title>
          {{ plugins_waiting_count }}
        </mat-card-title>
        <mat-card-subtitle>Waiting</mat-card-subtitle>
      </mat-card>
      <mat-card class="counter">
        <mat-card-title>
          {{ plugins_failed_count }}
        </mat-card-title>
        <mat-card-subtitle>Failed</mat-card-subtitle>
      </mat-card>
    </div>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-title>
        Completed
      </mat-card-title>
      <mat-card-content>
        <app-info-table [plugin]="true" [data]="plugins_completed"></app-info-table>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-title>
        Failed
      </mat-card-title>
      <mat-card-content>
        <app-info-table [plugin]="true" [data]="plugins_failed"></app-info-table>

      </mat-card-content>
    </mat-card>
  </div>

</div>