<div class="row">
    <div class="col-md-12 p-5">
        <mat-card>
            <mat-card-title>
                <div class="row p-3">
                    <h5 class="col-md-8">Shared Links</h5>
                </div>
            </mat-card-title>
            <mat-card-content>
                <table mat-table [dataSource]="dataSource">
                    <!-- id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- email Column -->
                    <ng-container matColumnDef="hashedItem">
                        <th mat-header-cell *matHeaderCellDef> Hashed Item </th>
                        <td mat-cell *matCellDef="let element"> {{element.hashedItem}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="attr">
                        <th mat-header-cell *matHeaderCellDef> attr  </th>
                        <td mat-cell *matCellDef="let element"> {{element.attr | json}} </td>
                    </ng-container>

                    <!-- role Column -->
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef> Created At </th>
                        <td mat-cell *matCellDef="let element"> {{element.created_at | date:'short'}} </td>
                    </ng-container>

                    <!-- actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="view(element.id)" color="primary" mat-icon-button>
                                View
                                <mat-icon aria-hidden="false" aria-label="view">view</mat-icon>
                            </button>

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>